body {
    font-family: "lato", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    height: 100%;
}

.logo-img {
    max-width: 200px;
    margin: 0;
}


.navbar {
    background-color: rgba(0, 0, 0, 0);
    /* Completely translucent background */
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 1000;
    /* To ensure it appears above other content */
}

.navbar-nav {
    margin-right: auto;
    color: #fff;
    /* Align the navigation items to the right */
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 2px;
}

.nav-link:hover {
    color: #fffa;
}

/* main body */

.parallax-section h2 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
    font-family: "lato", sans-serif;
    margin: 10px;
}

.parallax-section p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: "lato", sans-serif;
    margin: 10px;
}

.parallax-section {
    height: 100vh;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    /* Start the image at the top of the section */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax-section .text-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    max-width: 50%;
    margin: auto;
}

.parallax-section .text-container p {
    font-size: 18px;
    line-height: 1.6;
}

.parallax-section:nth-child(even) {
    text-align: left;
}

.parallax-section:nth-child(odd) {
    text-align: right;
}

.parallax-button {
    transition: background-color 0.3s ease-in-out !important;
    padding: 10px 30px !important;
    /* Adjust the padding as needed */
    font-size: 40px !important;
}

.parallax-button:hover {
    background-color: #fffa !important;
}

.fade-in {
    animation: fadeIn 1.5s ease forwards;
    opacity: 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* main body end */
/* contact form */
.bg-grey-translucent {
    background-color: rgba(128, 128, 128, 0.5);
    font-family: "lato", sans-serif;
    border-radius: 10px;

}

.contact-background {
    height: 100vh;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    /* Start the image at the top of the section */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    }

/* contact end */
/* footer */
footer {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    font-size: smaller;
}

.social-icons {
    font-size: 24px;
}

.instagram-link {
    font-size: 36px;
    color: #e1306c;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.instagram-link:hover {
    color: #8a3ab9;
}

.pjrclarke {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
}
.pjrclarke:hover {
    text-decoration: none;
    color: orange;
}
/* footer end */
/* media queries */
@media (max-width: 767px) {
    .logo-img {
        max-width: 100px;
    }
    .parallax-section h2 {
        font-size: 20px;
    }
    .parallax-section p {
        font-size: 18px;
    }
    #contactForm button {
        margin-bottom: 0 !important;
    }
    .parallax-section {
            background-attachment:scroll !important;
    }

}